In [89]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [90]:
data = pd.read_csv('placement.csv')

In [91]:
data.head(10)

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
5,6,M,55.00,Others,49.80,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
6,7,F,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
7,8,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
8,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
9,10,M,58.00,Central,70.00,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN

In [92]:
data.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [93]:
data.shape

(215, 15)

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 18.5+ KB

In [95]:
data = data.drop(['salary'],axis=1)

In [96]:
data.shape

(215, 14)

In [97]:
data = data.drop(['sl_no'],axis=1)

In [98]:
data.shape

(215, 13)

In [99]:
data['gender'] = le.fit_transform(data['gender'])

In [100]:
data['ssc_b'] = le.fit_transform(data['ssc_b'])
data['hsc_b'] = le.fit_transform(data['hsc_b'])
data['hsc_s'] = le.fit_transform(data['hsc_s'])
data['degree_t'] = le.fit_transform(data['degree_t'])
data['workex'] = le.fit_transform(data['workex'])
data['specialisation'] = le.fit_transform(data['specialisation'])
data['status'] = le.fit_transform(data['status'])

In [101]:
data.head(20)

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,67.00,1,91.00,1,1,58.00,2,0,55.00,1,58.80,1
1,1,79.33,0,78.33,1,2,77.48,2,1,86.50,0,66.28,1
2,1,65.00,0,68.00,0,0,64.00,0,0,75.00,0,57.80,1
3,1,56.00,0,52.00,0,2,52.00,2,0,66.00,1,59.43,0
4,1,85.80,0,73.60,0,1,73.30,0,0,96.80,0,55.50,1
5,1,55.00,1,49.80,1,2,67.25,2,1,55.00,0,51.58,0
6,0,46.00,1,49.20,1,1,79.00,0,0,74.28,0,53.29,0
7,1,82.00,0,64.00,0,2,66.00,2,1,67.00,0,62.14,1
8,1,73.00,0,79.00,0,1,72.00,0,0,91.34,0,61.29,1
9,1,58.00,0,70.00,0,1,61.00,0,0,54.00,0,52.21,0
10,1,58.00,0,61.00,0,1,60.00,0,1,62.00,1,60.85,1
11,1,69.60,0,68.40,0,1,78.30,0,1,60.00,0,63.70,1
12,0,47.00,0,55.00,1,2,65.00,0,0,62.00,1,65.04,0
13,0,77.00,0,87.00,0,1,59.00,0,0,68.00,0,68.63,1
14,1,62.00,0,47.00,0,1,50.00,0,0,76.00,1,54.96,0
15,0,65.00,0,75.00,0,1,69.00,0,1,72.00,0,64.66,1
16,1,63.00,0,66.20,0,1,65.60,0,1,60.00,0,62.54,1
17,0,55.00,0,67.00,0,1,64.00,0,0,60.00,0,67.28,0
18,0,63.00,0,66.00,0,1,64.00,0,0,68.00,1,64.08,0
19,1,60.00,1,67.00,1,0,70.00,0,1,50.48,0,77.89,1

In [102]:
pd.qcut(data['ssc_p'],4)

0        (60.6, 67.0]
1        (75.7, 89.4]
2        (60.6, 67.0]
3      (40.889, 60.6]
4        (75.7, 89.4]
            ...
210      (75.7, 89.4]
211    (40.889, 60.6]
212      (60.6, 67.0]
213      (67.0, 75.7]
214      (60.6, 67.0]
Name: ssc_p, Length: 215, dtype: category
Categories (4, interval[float64]): [(40.889, 60.6] < (60.6, 67.0] < (67.0, 75.7] < (75.7, 89.4]]

In [103]:
dataf = [data]

for dataset in dataf:
  dataset.loc[(dataset['ssc_p']>40.889) & (dataset['ssc_p'] <= 60.6),'ssc_p'] = 0
  dataset.loc[(dataset['ssc_p']>60.6) & (dataset['ssc_p'] <= 67.0),'ssc_p'] = 1
  dataset.loc[(dataset['ssc_p']>67.0) & (dataset['ssc_p'] <= 75.7),'ssc_p'] = 2
  dataset.loc[(dataset['ssc_p']>75.7) & (dataset['ssc_p'] <= 89.4),'ssc_p'] = 3

  dataset['ssc_p'] = dataset['ssc_p'].astype(int)

In [104]:
data.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,1,1,91.00,1,1,58.00,2,0,55.0,1,58.80,1
1,1,3,0,78.33,1,2,77.48,2,1,86.5,0,66.28,1
2,1,1,0,68.00,0,0,64.00,0,0,75.0,0,57.80,1
3,1,0,0,52.00,0,2,52.00,2,0,66.0,1,59.43,0
4,1,3,0,73.60,0,1,73.30,0,0,96.8,0,55.50,1

In [105]:
pd.qcut(data['hsc_p'],4)

0        (73.0, 97.7]
1        (73.0, 97.7]
2        (65.0, 73.0]
3      (36.999, 60.9]
4        (73.0, 97.7]
            ...
210      (73.0, 97.7]
211    (36.999, 60.9]
212      (65.0, 73.0]
213      (65.0, 73.0]
214    (36.999, 60.9]
Name: hsc_p, Length: 215, dtype: category
Categories (4, interval[float64]): [(36.999, 60.9] < (60.9, 65.0] < (65.0, 73.0] < (73.0, 97.7]]

In [106]:
dataf = [data]

for dataset in dataf:
  dataset.loc[(dataset['hsc_p']>36.999) & (dataset['hsc_p'] <= 60.9),'hsc_p'] = 0
  dataset.loc[(dataset['hsc_p']>60.9) & (dataset['hsc_p'] <= 65.0),'hsc_p'] = 1
  dataset.loc[(dataset['hsc_p']>65.0) & (dataset['hsc_p'] <= 73.0),'hsc_p'] = 2
  dataset.loc[(dataset['hsc_p']>73.0) & (dataset['hsc_p'] <= 97.7),'hsc_p'] = 3

  dataset['hsc_p'] = dataset['hsc_p'].astype(int)

In [107]:
data.head(20)

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,1,1,3,1,1,58.00,2,0,55.00,1,58.80,1
1,1,3,0,3,1,2,77.48,2,1,86.50,0,66.28,1
2,1,1,0,2,0,0,64.00,0,0,75.00,0,57.80,1
3,1,0,0,0,0,2,52.00,2,0,66.00,1,59.43,0
4,1,3,0,3,0,1,73.30,0,0,96.80,0,55.50,1
5,1,0,1,0,1,2,67.25,2,1,55.00,0,51.58,0
6,0,0,1,0,1,1,79.00,0,0,74.28,0,53.29,0
7,1,3,0,1,0,2,66.00,2,1,67.00,0,62.14,1
8,1,2,0,3,0,1,72.00,0,0,91.34,0,61.29,1
9,1,0,0,2,0,1,61.00,0,0,54.00,0,52.21,0
10,1,0,0,1,0,1,60.00,0,1,62.00,1,60.85,1
11,1,2,0,2,0,1,78.30,0,1,60.00,0,63.70,1
12,0,0,0,0,1,2,65.00,0,0,62.00,1,65.04,0
13,0,3,0,3,0,1,59.00,0,0,68.00,0,68.63,1
14,1,1,0,0,0,1,50.00,0,0,76.00,1,54.96,0
15,0,1,0,3,0,1,69.00,0,1,72.00,0,64.66,1
16,1,1,0,2,0,1,65.60,0,1,60.00,0,62.54,1
17,0,0,0,2,0,1,64.00,0,0,60.00,0,67.28,0
18,0,1,0,2,0,1,64.00,0,0,68.00,1,64.08,0
19,1,0,1,2,1,0,70.00,0,1,50.48,0,77.89,1

In [108]:
pd.qcut(data['degree_p'],4)

0      (49.999, 61.0]
1        (72.0, 91.0]
2        (61.0, 66.0]
3      (49.999, 61.0]
4        (72.0, 91.0]
            ...
210      (72.0, 91.0]
211      (66.0, 72.0]
212      (72.0, 91.0]
213    (49.999, 61.0]
214    (49.999, 61.0]
Name: degree_p, Length: 215, dtype: category
Categories (4, interval[float64]): [(49.999, 61.0] < (61.0, 66.0] < (66.0, 72.0] < (72.0, 91.0]]

In [109]:
dataf = [data]

for dataset in dataf:
  dataset.loc[(dataset['degree_p']>49.999) & (dataset['degree_p'] <= 61.0),'degree_p'] = 0
  dataset.loc[(dataset['degree_p']>61.0) & (dataset['degree_p'] <= 66.0),'degree_p'] = 1
  dataset.loc[(dataset['degree_p']>66.0) & (dataset['degree_p'] <= 72.0),'degree_p'] = 2
  dataset.loc[(dataset['degree_p']>72.0) & (dataset['degree_p'] <= 91.0),'degree_p'] = 3

  dataset['degree_p'] = dataset['degree_p'].astype(int)

In [110]:
data.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,1,1,3,1,1,0,2,0,55.0,1,58.80,1
1,1,3,0,3,1,2,3,2,1,86.5,0,66.28,1
2,1,1,0,2,0,0,1,0,0,75.0,0,57.80,1
3,1,0,0,0,0,2,0,2,0,66.0,1,59.43,0
4,1,3,0,3,0,1,3,0,0,96.8,0,55.50,1

In [111]:
pd.qcut(data['etest_p'],4)

0      (49.999, 60.0]
1        (83.5, 98.0]
2        (71.0, 83.5]
3        (60.0, 71.0]
4        (83.5, 98.0]
            ...
210      (83.5, 98.0]
211      (71.0, 83.5]
212    (49.999, 60.0]
213      (60.0, 71.0]
214      (83.5, 98.0]
Name: etest_p, Length: 215, dtype: category
Categories (4, interval[float64]): [(49.999, 60.0] < (60.0, 71.0] < (71.0, 83.5] < (83.5, 98.0]]

In [112]:
dataf = [data]

for dataset in dataf:
  dataset.loc[(dataset['etest_p']>49.999) & (dataset['etest_p'] <= 60.0),'etest_p'] = 0
  dataset.loc[(dataset['etest_p']>60.0) & (dataset['etest_p'] <= 71.0),'etest_p'] = 1
  dataset.loc[(dataset['etest_p']>71.0) & (dataset['etest_p'] <= 83.5),'etest_p'] = 2
  dataset.loc[(dataset['etest_p']>83.5) & (dataset['etest_p'] <= 98.0),'etest_p'] = 3

  dataset['etest_p'] = dataset['etest_p'].astype(int)

In [113]:
pd.qcut(data['mba_p'],4)

0        (57.945, 62.0]
1       (66.255, 77.89]
2      (51.209, 57.945]
3        (57.945, 62.0]
4      (51.209, 57.945]
             ...
210     (66.255, 77.89]
211    (51.209, 57.945]
212     (66.255, 77.89]
213      (57.945, 62.0]
214      (57.945, 62.0]
Name: mba_p, Length: 215, dtype: category
Categories (4, interval[float64]): [(51.209, 57.945] < (57.945, 62.0] < (62.0, 66.255] < (66.255, 77.89]]

In [114]:
dataf = [data]

for dataset in dataf:
  dataset.loc[(dataset['mba_p']>51.209) & (dataset['mba_p'] <= 57.945),'mba_p'] = 0
  dataset.loc[(dataset['mba_p']>57.945) & (dataset['mba_p'] <= 62.0),'mba_p'] = 1
  dataset.loc[(dataset['mba_p']>62.0) & (dataset['mba_p'] <= 66.255),'mba_p'] = 2
  dataset.loc[(dataset['mba_p']>66.255) & (dataset['mba_p'] <= 77.89),'mba_p'] = 3

  dataset['mba_p'] = dataset['mba_p'].astype(int)

In [115]:
data.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,1,1,3,1,1,0,2,0,0,1,1,1
1,1,3,0,3,1,2,3,2,1,3,0,3,1
2,1,1,0,2,0,0,1,0,0,2,0,0,1
3,1,0,0,0,0,2,0,2,0,1,1,1,0
4,1,3,0,3,0,1,3,0,0,3,0,0,1

In [116]:
X = data.drop('status',axis =1)
X.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p
0,1,1,1,3,1,1,0,2,0,0,1,1
1,1,3,0,3,1,2,3,2,1,3,0,3
2,1,1,0,2,0,0,1,0,0,2,0,0
3,1,0,0,0,0,2,0,2,0,1,1,1
4,1,3,0,3,0,1,3,0,0,3,0,0

In [117]:
y = data['status']
y.head()

0    1
1    1
2    1
3    0
4    1
Name: status, dtype: int32

In [118]:
from sklearn.model_selection import train_test_split

In [119]:
X_train , X_test , y_train , y_test = train_test_split(X , y , random_state = 12,test_size = 0.2)

In [120]:
X_train.head()
X_train.shape

(172, 12)

In [121]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC , LinearSVC
from sklearn.naive_bayes import GaussianNB

In [122]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [123]:
y_pred = knn.predict(X_test)

In [124]:
from sklearn.metrics import accuracy_score

In [125]:
round(accuracy_score(y_test,y_pred)*100,3)

93.023

In [126]:
lr = LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression()

In [135]:
y_prediction = lr.predict(X_test)

In [136]:
round(accuracy_score(y_test,y_prediction)*100,5)

93.02326

In [137]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)

RandomForestClassifier()

In [138]:
y_new = rf.predict(X_test)

In [139]:
round(accuracy_score(y_test,y_new)*100,3)

95.349

In [140]:
sgd = linear_model.SGDClassifier(max_iter=10 , tol=0.001, shuffle=False)
sgd.fit(X_train , y_train)

c:\users\hp\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:570: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "

SGDClassifier(max_iter=10, shuffle=False)

In [141]:
y_pred = sgd.predict(X_test)

In [142]:
round(accuracy_score(y_test,y_pred)*100,2)

95.35